{% extends 'base.html' %}
{% block title %}Wettkämpfe{% endblock %}
{% block content %}

<div class="container emp-profile shadow-lg" style="padding-top: 30px">
  <div class="row">
    <div class="col-md-6">
        <div class="profile-head" style="float: left; width: 80%; clear: right;">
          <h2>
            <b>Wettkämpfe</b>
          </h2>
      </div>
    </div>
  </div>

  <div style="width: 100vw; max-width: 800px;">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Datum</th>
          <th scope="col">Ort</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
        <tr>
          <td>{{ event["datumText"] }}</td>
          <td>{{ event["ort"] }}</td>
          <td>
            <a href="{{ url_for('views.show_results', meeting_id = event['id']) }}">{{ event["name"] }}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}